@import "reset";
@import "color";
@import "mixin";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: $background;
  color: $fullWhite;
  font-family: "Roboto", sans-serif;
  margin: 0 4rem;
}

button {
  background-color: $background;
  color: $white;
  border: 2px solid $purple;
  border-radius: 3rem;
  margin: 0.3rem;
  padding: 1.4rem 3.6rem;
}

.header {
  @include flexBetween(row);
  padding: 1rem 0;
  font-size: 1.4rem;
  &__menu {
    &--items {
      @include flexBetween(row);
    }
  }

  ul {
    li {
      width: 100%;

      ul {
        position: relative !important;
        z-index: 99;

        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;

        li {
          clear: both;
          width: 100%;
        }
      }
    }
  }

  li {
    margin: 0 2rem;
    transition-duration: 0.5s;
  }

  li:hover {
    cursor: pointer;
  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  // &__search {

  // }

  &__wallet {
    img {
      margin: 0 2rem 0 0;
    }
    button {
      padding: 1rem 2rem;
    }
  }

  &__theme {
    @include flexBetween(row);
    &--items {
      margin: 0 0.2rem; //temp
    }
  }
}

.hero {
  margin: 0.5rem 2.2rem;

  &__wrapper {
    @include flex(column);
  }

  &__top {
    @include flexBetween(row);
    margin-bottom: 1.5rem;
  }

  &__left {
    @include flex(column);
    max-width: 50%;
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 54px;
      line-height: 68px;
    }
    p {
      color: $darkGray;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 42px;
      margin-bottom: 1.3rem;
    }
    span {
      color: $purple-text;
    }
  }

  &__right {
    @include flexCenter(row);
  }
}

.features {
  @include flexBetween(row);
  &__div {
    &--blue,
    &--green,
    &--purple,
    &--red {
      @include flexBetween(column);
      margin: 0 2rem;
      img {
        padding: 1rem;
        border-radius: 1.6rem;
        width: 4.5rem;
        height: 4.5rem;
      }
      h3 {
        margin: 1rem 0;
        font-size: 1.7rem;
      }
      p {
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.5rem;
        text-align: center;
        color: $gray-text;
      }
    }
    &--blue {
      img {
        background-color: $blue-f;
      }
    }
    &--green {
      img {
        background-color: $green-f;
      }
    }
    &--purple {
      img {
        background-color: $purple-f;
      }
    }
    &--red {
      img {
        background-color: $red-f;
      }
    }
  }
}

.swiper {
  width: 600px;
  height: 300px;
}

.live {
  @include flexBetween(column);
  background-color: black;
  // margin: 2rem 4rem;
  padding: 2rem 2rem;

  &__title {
    @include flexBetween(row);
    width: 100vw;
    h2 {
      font-weight: 700;
      font-size: 2.5rem;
      // margin-right: 110rem;
    }
    button {
      padding: 0 0 0.5rem;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $purple;
      background-color: black;
    }
  }
  // &__content {
  // }
}

.popular {
  @include flexBetween(column);

  &__title {
    // @include flexBetween(row);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // background-color: red;
    width: 100%;
    h2 {
      font-weight: 700;
      font-size: 2.5rem;
      // margin-right: 110rem;
    }
    button {
      padding: 0 0 0.5rem;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $purple;
    }
  }

  &__cards {
    @include flexBetween(row);
    margin: 2rem 0;
    img {
      margin: 0.3rem;
    }
    &--first,
    &--second,
    &--third {
      // max-width: 30%;
      margin: 0 1rem;
      padding: 1rem;
      border-radius: 2rem;
      background-color: $background-gray;
    }

    &--content {
      @include flexBetween(row);
    }

    &--info {
      @include d-flex(column, flex-start, flex-start);
      // justify-self: flex-start;
    }

    &--likes {
      @include flexEvenly(row);
      background-color: $background;
      border-radius: 2rem;
      padding: 0.4rem 0.8rem 0.4rem 0.4rem;
    }
  }

  &__info--title {
    font-size: 1.6rem;
    font-weight: 500;
  }
  &__info--name {
    font-size: 1.2rem;
    font-weight: 500;
    span {
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

.seller {
  @include flexBetween(column);

  &__title {
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

.today {

  &__title {

  }

  &__label {

  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  &__more {

  }

}

.footer {
  background-color: Black;
  @include flexBetween(row);
  padding: 4rem 10rem 5rem;

  h5 {
    font: {
      size: 2.2rem;
      weight: 500;
    }
    margin-bottom: 4rem;
  }

  &__info {
    align-self: flex-start;

    &--subtitle {
      p {
        font: {
          size: 1.7rem;
          weight: 200;
        }
      }
    }
  }

  &__menu {
    ul {
      li {
        font: {
          size: 1.8rem;
          weight: 300;
        }
        margin: 1.7rem 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__us {
    align-self: flex-start;

    input {
      background-color: transparent;
      border: 1px solid $purple;
      border-radius: 1rem;
      font: {
        size: 1.5rem;
        weight: 400;
      }
      padding: 1rem 2rem;
      color: $fullWhite;
    }

    &--socialmedia {
      margin-top: 2rem;
      @include flexBetween(row);

      a {
        margin: 0 .3rem;
        background-color: $darkGray;
        color: $fullWhite;
        padding: .5rem;
        border-radius: 1rem;
        width: 4rem;
        text-align: center;
        i {
          font-size: 2rem;
        }
        &:hover {
          background-color: $purple;
        }
      }
    }
  }

}