@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

html {
  font-size: 62.5%;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button:hover {
  cursor: pointer;
}

body {
  background-color: #14141F;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0 4rem;
}

button {
  background-color: #14141F;
  color: #fcfcfc;
  border: 2px solid #4E3FEE;
  border-radius: 3rem;
  margin: 0.3rem;
  padding: 1.4rem 3.6rem;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  font-size: 1.4rem;
}

.header__menu--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ul li {
  width: 100%;
}

.header ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
}

.header ul li ul {
  position: relative !important;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.header ul li ul li {
  clear: both;
  width: 100%;
}

.header li {
  margin: 0 2rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header li:hover {
  cursor: pointer;
}

.header ul li:hover > ul,
.header ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.header__wallet img {
  margin: 0 2rem 0 0;
}

.header__wallet button {
  padding: 1rem 2rem;
}

.header__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__theme--items {
  margin: 0 0.2rem;
}

.hero {
  margin: 0.5rem 2.2rem;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
}

.hero__left h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 68px;
}

.hero__left p {
  color: #ADADB0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 42px;
  margin-bottom: 1.3rem;
}

.hero__left span {
  color: #9550E5;
}

.hero__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__div--blue, .features__div--green, .features__div--purple, .features__div--red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.features__div--blue img, .features__div--green img, .features__div--purple img, .features__div--red img {
  padding: 1rem;
  border-radius: 1.6rem;
  width: 4.5rem;
  height: 4.5rem;
}

.features__div--blue h3, .features__div--green h3, .features__div--purple h3, .features__div--red h3 {
  margin: 1rem 0;
  font-size: 1.7rem;
}

.features__div--blue p, .features__div--green p, .features__div--purple p, .features__div--red p {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  text-align: center;
  color: #ADADB0;
}

.features__div--blue img {
  background-color: #5142FB;
}

.features__div--green img {
  background-color: #46A433;
}

.features__div--purple img {
  background-color: #9835FB;
}

.features__div--red img {
  background-color: #DF4949;
}

.swiper {
  width: 600px;
  height: 300px;
}

.live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  margin: 1.5rem 0;
  padding: 2rem 2rem;
}

.live__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.live__title button {
  padding: 0 0 0.5rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #4E3FEE;
  background-color: black;
}

.popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
}

.popular__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.popular__title button {
  padding: 0 0 0.5rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #4E3FEE;
}

.popular__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.popular__cards img {
  margin: 0.3rem;
}

.popular__cards--first, .popular__cards--second, .popular__cards--third {
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #343444;
}

.popular__cards--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__cards--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popular__cards--likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #14141F;
  border-radius: 2rem;
  padding: 0.4rem 0.8rem 0.4rem 0.4rem;
}

.popular__info--title {
  font-size: 1.6rem;
  font-weight: 500;
}

.popular__info--name {
  font-size: 1.2rem;
  font-weight: 500;
}

.popular__info--name span {
  font-weight: 400;
  font-size: 1rem;
}

.seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
}

.seller__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.seller__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 7rem;
  grid-row-gap: 7rem;
}

.seller__content img {
  width: 8.5rem;
  border-radius: 3rem;
}

.seller__content img:hover {
  border-radius: 4rem;
}

.seller__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seller__profile--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seller__profile li {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.seller__profile--price {
  font-size: 1rem;
  font-weight: 300;
}

.today__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.footer {
  background-color: Black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 10rem 5rem;
}

.footer h5 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer__info {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__info--subtitle p {
  font-size: 1.7rem;
  font-weight: 200;
}

.footer__menu ul li {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 1.7rem 0;
}

.footer__menu ul li:hover {
  cursor: pointer;
}

.footer__us {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__us input {
  background-color: transparent;
  border: 1px solid #4E3FEE;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 2rem;
  color: #fff;
}

.footer__us--socialmedia {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__us--socialmedia a {
  margin: 0 .3rem;
  background-color: #ADADB0;
  color: #fff;
  padding: .5rem;
  border-radius: 1rem;
  width: 4rem;
  text-align: center;
}

.footer__us--socialmedia a i {
  font-size: 2rem;
}

.footer__us--socialmedia a:hover {
  background-color: #4E3FEE;
}
/*# sourceMappingURL=main.css.map */