$fullWhite: #fff;
$white: #fcfcfc;
$gray: #f7f7f7;
$darkGray: #ADADB0;
$black: #202020;
$background: #14141F;
$background-gray: #343444;
$purple: #4E3FEE;
$purple-text: #9550E5;
$gray-text: #ADADB0;
$blue-f: #5142FB;
$green-f: #46A433;
$purple-f: #9835FB;
$red-f: #DF4949;