.header__search {
  position: relative;
  img {
    border: 1px solid $purple;
    padding: 1rem;
    border-radius: 50%;
    color: $purple;
    transition: background 0.5s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: $purple;
    }
    &:hover input {
      visibility: block;
    }
  }
  input {
    position: absolute;
    visibility: hidden;
    background: $purpleDarker;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 1.3rem;
    outline: none;
    &:focus {
      background: $purpleDark;
    }
  }
}
