@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.splash-screen {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: #e8e8e8;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

footer,
header,
nav,
section,
main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  background-color: #14141F;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  background-color: #14141F;
  color: #fcfcfc;
  border: 2px solid #4E3FEE;
  border-radius: 3rem;
  margin: 0.3rem;
  padding: 1.4rem 3.6rem;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #4E3FEE;
  color: #14141F;
}

button:hover img {
  color: #14141F;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}

.header__search {
  position: relative;
}

.header__search img {
  border: 1px solid #4E3FEE;
  padding: 1rem;
  border-radius: 50%;
  color: #4E3FEE;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.header__search img:hover {
  cursor: pointer;
  background-color: #4E3FEE;
}

.header__search img:hover input {
  visibility: block;
}

.header__search input {
  position: absolute;
  visibility: hidden;
  background: #3d156b;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 1.3rem;
  outline: none;
}

.header__search input:focus {
  background: #4b1f7d;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 4rem;
  font-size: 1.4rem;
}

.header__menu--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.header__menu--items i {
  margin-left: .5rem;
  display: inline;
}

.header ul li {
  width: 100%;
  position: relative;
}

.header ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
}

.header ul li i {
  position: absolute;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.header ul li:hover i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header ul li ul {
  position: absolute !important;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
  display: none;
  padding: 1rem;
  min-width: 15rem;
}

.header ul li ul li {
  clear: both;
  background-color: #343444;
  padding: .5rem;
}

.header li:hover {
  cursor: pointer;
}

.header ul li:hover > ul,
.header ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.header__wallet img {
  margin: 0 2rem 0 0;
}

.header__wallet button {
  padding: 1rem 2rem;
}

.header__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__theme--items {
  margin: 0 0.2rem;
}

.hero {
  margin: 0.5rem 8rem;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
}

.hero__left h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 68px;
}

.hero__left p {
  color: #ADADB0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 42px;
  margin-bottom: 1.3rem;
}

.hero__left .monster {
  color: #9550E5;
}

.hero__left .extraordinary {
  position: relative;
}

.hero__left .extraordinary span {
  position: relative;
  display: inline-block;
  color: #fcfcfc;
  text-transform: lowercase;
  -webkit-animation: flip 2s infinite;
          animation: flip 2s infinite;
  -webkit-animation-delay: calc(0.2s * var(--i));
          animation-delay: calc(0.2s * var(--i));
}

.hero__left--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.4rem;
}

.hero__left--btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

.hero__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes flip {
  0%, 80% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes flip {
  0%, 80% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(22rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  overflow: auto;
  resize: horizontal;
  grid-column-gap: 10rem;
  grid-row-gap: 0px;
}

.features__div--blue, .features__div--green, .features__div--purple, .features__div--red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.features__div--blue img, .features__div--green img, .features__div--purple img, .features__div--red img {
  padding: 1rem;
  border-radius: 1.6rem;
  width: 4.5rem;
  height: 4.5rem;
}

.features__div--blue h3, .features__div--green h3, .features__div--purple h3, .features__div--red h3 {
  margin: 1rem 0;
  font-size: 1.7rem;
}

.features__div--blue p, .features__div--green p, .features__div--purple p, .features__div--red p {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  text-align: center;
  color: #ADADB0;
}

.features__div--blue img {
  background-color: #5142FB;
}

.features__div--green img {
  background-color: #46A433;
}

.features__div--purple img {
  background-color: #9835FB;
}

.features__div--red img {
  background-color: #DF4949;
}

.live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  margin: 3rem 0;
  padding: 5rem 8rem;
}

.live__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.live__title button {
  padding: 0 0 0.5rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #4E3FEE;
  background-color: black;
}

.swiper {
  width: 1400px;
  height: 400px;
}

.myswiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #343444;
  border-radius: 3rem;
  padding: 2rem;
}

.myswiper__picture img {
  border-radius: 3rem;
  width: 20rem;
}

.myswiper__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1.5rem 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.myswiper__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.myswiper__profile img {
  width: 6rem;
  border-radius: 2rem;
}

.myswiper__profile--name {
  justify-self: flex-start;
  font-size: 1.2rem;
  font-weight: 400;
}

.myswiper__profile--name p {
  font-size: 1rem;
}

.myswiper__profile--label button {
  padding: .2rem 1.1rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: #4E3FEE;
}

.myswiper__bid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.myswiper__bid--like button {
  padding: .2rem 1.1rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: #202020;
  border-color: #202020;
  border-radius: .7rem;
}

.popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 8rem;
}

.popular__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.popular__title button {
  padding: 0 0 0.5rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #4E3FEE;
}

.popular__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.popular__cards img {
  margin: 0.3rem;
}

.popular__cards--first, .popular__cards--second, .popular__cards--third {
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #343444;
}

.popular__cards--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__cards--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popular__cards--likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #14141F;
  border-radius: 2rem;
  padding: 0.4rem 0.8rem 0.4rem 0.4rem;
}

.popular__info--title {
  font-size: 1.6rem;
  font-weight: 500;
}

.popular__info--name {
  font-size: 1.2rem;
  font-weight: 500;
}

.popular__info--name span {
  font-weight: 400;
  font-size: 1rem;
}

.seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 8rem;
}

.seller__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.seller__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 7rem;
  grid-row-gap: 2rem;
}

.seller__content img {
  width: 8.5rem;
  border-radius: 3rem;
}

.seller__content img:hover {
  border-radius: 4rem;
}

.seller__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seller__profile--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seller__profile li {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.seller__profile--price {
  font-size: 1rem;
  font-weight: 300;
}

.today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 8rem;
}

.today__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

.today__title button {
  padding: 0 0 0.5rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #4E3FEE;
}

.today__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
  width: 100%;
}

.today__label button {
  padding: 1rem;
  margin: 0 .7rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-color: #ADADB0;
}

.today__content {
  margin: 1rem 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.today__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3rem;
  background-color: #343444;
  padding: 2rem;
}

.today__post img {
  border-radius: 3rem;
}

.today__post--name {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1.5rem 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.today__post--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.today__post--profile img {
  width: 6rem;
  border-radius: 2rem;
}

.today__post--bid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.today__more {
  margin: 3rem 0;
}

.today__more button {
  padding: 1.1rem 4rem;
  margin: 0 .7rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-color: #ADADB0;
}

.footer {
  background-color: Black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 10rem 5rem;
}

.footer h5 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer__info {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__info--subtitle p {
  font-size: 1.7rem;
  font-weight: 200;
}

.footer__menu ul li {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 1.7rem 0;
}

.footer__menu ul li:hover {
  cursor: pointer;
}

.footer__us {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__us input {
  background-color: transparent;
  border: 1px solid #4E3FEE;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 2rem;
  color: #fff;
}

.footer__us--socialmedia {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__us--socialmedia a {
  margin: 0 .3rem;
  background-color: #ADADB0;
  color: #fff;
  padding: .5rem;
  border-radius: 1rem;
  width: 4rem;
  text-align: center;
}

.footer__us--socialmedia a i {
  font-size: 2rem;
}

.footer__us--socialmedia a:hover {
  background-color: #4E3FEE;
}
/*# sourceMappingURL=main.css.map */