.header {
  @include flexBetween(row);
  padding: 1rem 4rem;
  font-size: 1.4rem;
  &__menu {
    &--items {
      @include flexBetween(row);
      gap: 2rem;
    }
  }

  ul {
    li {
      width: 100%;
      position: relative;
      a {
        color: $fullWhite;
        text-decoration: none;
        font: {
          size: 1.6rem;
          weight: 500;
        }
      }

      ul {
        position: absolute !important;
        z-index: 99;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        left: 0;
        display: none;

        padding: 1rem;
        min-width: 15rem;

        li {
          clear: both;
          background-color: $background-gray;
          padding: .5rem;
        }
      }
    }
  }

  li:hover {
    cursor: pointer;
  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  // &__search {

  // }

  &__wallet {
    img {
      margin: 0 2rem 0 0;
    }
    button {
      padding: 1rem 2rem;
    }
  }

  &__theme {
    @include flexBetween(row);
    &--items {
      margin: 0 0.2rem; //temp
    }
  }
}