.popular {
  @include flexBetween(column);
  margin: 1.5rem 8rem;
  &__title {
    @include flexBetween(row);
    width: 100%;

    button {
      padding: 0 0 0.5rem;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $purple;
      font-size: 1.4rem;
    }
  }

  &__cards {
    @include flexBetween(row);
    margin: 2rem 0;
    img {
      margin: 0.3rem;
    }
    &--first,
    &--second,
    &--third {
      // max-width: 30%;
      margin: 0 1rem;
      padding: 1rem;
      border-radius: 2rem;
      background-color: $background-gray;
      transition: transform 500ms ease-in-out;
      &:hover {
        transform: translateY(-1rem);
      }
    }

    &--content {
      @include flexBetween(row);
    }

    &--info {
      @include d-flex(column, flex-start, flex-start);
      // justify-self: flex-start;
    }

    &--likes {
      @include flexEvenly(row);
      gap: .5rem;
      background-color: $background;
      border-radius: 2rem;
      padding: .8rem;
      font-size: 1.4em;
      &:hover { color: red; cursor: pointer;}
    }
  }

  &__info {
    justify-self: flex-start;
    &--title {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: .7rem;
    }
    &--name {
      font-size: 1.6rem;
      font-weight: 500;
      span {
        font-weight: 400;
        font-size: 1.4rem;
        color: #a7a7a7;
      }
    }
  }
}
