.swiper {
  width: 1400px; //temp
  height: 400px; //temp
}

.myswiper {
  @include flexCenter(column);
  background-color: $background-gray;
  border-radius: 3rem;
  padding: 2rem;

  &:hover .myswiper__picture {
    transform: scale(1.1);
    overflow: hidden;
  }

  &__picture {
    transition: transform 0.2s;
    img {
      border-radius: 3rem;
      width: 20rem; //temp
    }
  }

  &__title {
    align-self: flex-start;
    margin: 1.5rem 0;
    font: {
      size: 1.4rem;
      weight: 500;
    }
  }

  &__profile {
    @include flexBetween(row);
    width: 100%;
    img {
      width: 6rem;
      border-radius: 2rem;
    }

    &--name {
      justify-self: flex-start;
      font: {
        size: 1.4rem;
        weight: 400;
      }
      p {
        font-size: 1.2rem;
      }
    }

    &--label {
      button {
        padding: 0.2rem 1.1rem;
        font-size: 1.1rem;
        color: $fullWhite;
        background-color: $purple;
      }
    }
  }

  &__bid {
    @include flexBetween(row);
    font-size: 1.7rem;
    width: 100%;
    margin: 1rem 0;
    .price {
      font-size: 1.6rem;
      margin-top: 0.5rem;
      span {
        font-size: 1.4rem;
        color: #a7a7a7;
      }
    }

    &--like {
      button {
        padding: 1rem 1.3rem;
        font-size: 1.1rem;
        color: $fullWhite;
        background-color: $black;
        border: {
          color: $black;
          radius: 0.7rem;
        }
        &:hover {
          color: red;
        }
      }
    }
  }
}
